.certificationCard {
    flex-direction: column;
}

.certificationCard p{
    text-align: center;
}

.certificationCard>.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
}


.certificationCard>.img {
    width: 10rem;
    cursor: zoom-in;
}